/*
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
}

label {
    font-size: 1.3em;
}

.agreement {
    font-size: 1.1em;
}

.container {
    margin: auto;
    margin-top: 70px;
    max-width: 400px;
    width: 100%;
    max-height: 650px;
    padding: 30px;
    /* border: 1px solid black; */
    background-color: #4cd4ecf3;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.container .item {
    margin-top: 20px;
}

.the-form .ip-field {
    margin-top: 20px;
}

.the-form .ip-field .ip {
    min-width: 100%;
    height: 25px;
    /* border-radius: 3px; */
    border: 1px solid black;
}

.the-form .ip-field .submit {
    margin-top: 20px;
    color: white;
    background-color: #000;
    height: 34px;
}